.testi-container{
    display:flex ;
    flex-direction: column;
    justify-content: space-between ;
    /* height: 50vh !important; */
    min-height: 500px;
    background-color:#24263B ;
    overflow: hidden;
}